<div class="howIs">Ходит {{turn.heroName}}</div>
<div class="container">
    <div class="poligin" *ngFor="let poligon of pologons">
        <div class="pol" *ngFor="let info of poligon">
            <div *ngIf="info.texture==='grass'" class="grass">
                <div *ngIf="info.hero===hero1" class="absalut" #heroId1> </div>
                <div *ngIf="info.hero===hero2" class="absalut" #heroId2></div>
            </div>
            <div *ngIf="info.texture==='water'" class="water"></div>

        </div>
    </div>
    <button (click)="checker()">сменить игрока</button>
    <button (click)="isgameOver()">победить</button>

    <b>Осталось ходов </b> <b>{{steps}}</b>
    <div class="hero first" [ngStyle]="{'top.px': hero1Y,'left.px': hero1X}"></div>
    <div class="hero second" [ngStyle]="{'top.px': hero2Y,'left.px': hero2X}"></div>
</div>
<div class="win" *ngIf="gameover">
    <div class="text">WIN {{turn.heroName}} !!!</div>
    <div class="button" (click)="newGame()">Новая игра</div>
</div>